PANDAS ANALISIS DATA VUELOS

In [6]:
import numpy as np 
import pandas as pd

In [7]:
#vamos a importar la base de datos de los vuelos 
df_vuelos = pd.read_csv("/Users/juanjoseh/Desktop/CURSO PHYNTON/Modulo_2/data/flights.csv")
df_vuelos.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [8]:
df_vuelos.info()
print("=======")
print("----Numero de filas y columnas del dataset--- ")
df_vuelos.shape #numero de los datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    object
 2   passengers  144 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.5+ KB
=======
----Numero de filas y columnas del dataset---

(144, 3)

In [9]:
# Total de pasajeros en todo el periodo
total_pasajeros = df_vuelos['passengers'].sum()
print(f"Total de pasajeros: {total_pasajeros:,}")

# Promedio de pasajeros por mes
promedio_mes = df_vuelos['passengers'].mean()
print(f"Promedio mensual: {promedio_mes:,.0f} pasajeros")

# Mes con más pasajeros
max_pasajeros = df_vuelos['passengers'].max()
mes_max = df_vuelos[df_vuelos['passengers'] == max_pasajeros]
print(f"Récord de pasajeros: {max_pasajeros:,}")
print(mes_max)

Total de pasajeros: 40,363
Promedio mensual: 280 pasajeros
Récord de pasajeros: 622
     year month  passengers
138  1960  July         622